sr-toolchain/starrocks
sr-toolchain/cmake
sr-toolchain/jdk.rpm
sr-thirdparty/jdk.rpm
sr-thirdparty/clang-llvm.tar.xz
sr-thirdparty/thirdparty.zip
sr-thirdparty/thirdparty.tar.xz
sr-thirdparty/thirdparty
sr-thirdparty/cmake
sr-thirdparty/maven
sr-thirdparty/llvm
.vscode
jdk.rpm