sr-toolchain/starrocks
sr-toolchain/cmake
sr-toolchain/java.tar.gz
sr-toolchain/install_*

sr-thirdparty/thirdparty
sr-thirdparty/cmake
sr-thirdparty/java.tar.gz
sr-thirdparty/llvm
sr-thirdparty/install_*

.vscode
java.tar.gz
cmake